html {
	font-size: 10px;
	/* background image */
	background: url('coffeeshop.jpg') bottom center;
	background-size: cover;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.keys {
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.key {
	border: 0.4rem solid black;
	border-radius: 0.5rem;
	margin: 1rem;
	font-size: 1.5rem;
	padding: 1rem 0.5rem;
	transition: all 0.07s ease; /* important line to control how we animate/make each key pop */
	width: 10rem;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0 0 0.5rem black;
}

/* add this class to any key that is presses to make it pop */
.playing {
	transform: scale(1.1); /* determines how big each element pops */
	border-color: #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
    - The HTML Keyboard Input element (<kbd>) represents a span of inline text denoting textual user input from a keyboard,
     voice input, or any other text entry device. By convention, the user agent defaults to rendering the contents of 
     a <kbd> element using its default monospace font, although this is not mandated by the HTML standard.
*/
kbd {
	display: block;
	font-size: 4rem;
}

.sound {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: #ffc600;
}
